body {
  margin: 0;
  padding: 0;
}

.fill-height {
  height: 100vh;
}
.bg-blue {
  background-color: #2196f3;
}

.text-white {
  color: white;
}

.text-center {
  text-align: center;
}

.router-link-active {
  color: orange;
}

.zova-icon__img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.zova-icon__svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
}
