/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
  $color-pack: false
);

:root {
  --v-font-body:
    'Geist', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.zova-icon__img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.zova-icon__svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
}
