!.gitignore
!.npmrc

.claude/settings.local.json

.DS_Store
.thumbs.db
pnpm-lock.yaml
# package-lock.json
node_modules
miniprogram_npm
vite.config.ts.timestamp-*

**/dist/
**/dist-toolsIsolate/
**/dist-cli/
dist-releases
dist-mock

# zova core related directories
.temp-dynamic-*
.zova
.zova-rest
.quasar
/quasar.config.*.temporary.compiled*
/openapi.config.ts

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.nx
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# local .env files
env/.env*.local
/src/front/config/config/config*.local.ts
/src/front/typing/modules.d.ts
**/.metadata/modules.d.ts
# /package.json

**/*.tsbuildinfo
